body{
	margin: 0;
}
h2 {
	text-align: center;
}
.grid {

	width: 100%;
	box-sizing: border-box;
	/* background-color: black; */
	float: left;
}
.box {
	width:30%;
	height: 1200px;
	border: 1px solid darkblue;
	float: left;
	box-sizing: border-box;
	/* background-color: darkgreen; */
	/* padding: 0.5em; */
	/* margin-top: 1em;
	margin-left: 1em; */
    
	margin: 0.5em;
}

.cont {
	width: 100%;
	height: 100%;
	background-color: red;
}

.inbox {
	width: 40%;
	height: 80%;
	position: relative;
	top: 2.5em;
	margin: 0.5;
	background: yellow;
	box-sizing: border-box;
	padding: 0.5em;
    
}
.inbox-box{
    background-color: blueviolet;
    display: flex;
}
.contr{
    height: 1180px; width: 180px; background-color: yellow;padding: 0.5em;
    display: inline;
}

.goto{
	position: fixed;
	padding: 0.5em;
	/* margin-bottom: 5px;
	float: right;
	height: 40px;
	width: 100px;
	margin: 0.5em; */
    right: 0;
    bottom: 0;
	/* /display: inline; */
	background-color: darkorange;
    color: red;
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 768px)
{
    .grid {

        width: 100%;
        box-sizing: border-box;
        /* background-color: black; */
        float: left;
    }
    


}